{% extends '_base_vue.html' %}

{% block title %}Home - Play2Learn{% endblock %}

{% block main %}

    <div class="container mt-5">
        <h1 class="text-center">Leaderboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                    <tr>
                        <td>{{ entry.user.username }}</td>
                        <td>{{ entry.game_name }}</td>
                        <td>{{ entry.score }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}